<ion-view hide-nav-bar="true" >
  <ion-header-bar>
    <button class="button button-icon icon ion-arrow-return-left " ng-click="backToMap()"></button>
    <div class="h1 title">我的</div>
  </ion-header-bar>

  <ion-content ng-controller="MyDetailCtrl">

    <div class="my-head">
      <img src="./img/ben.png">
    </div>

    <p>名字</p>

    <div class="button-bar bar-light my-detail-button-bar">
      <a class="button" ng-click="showRegister()">注册</a>
      <a class="button">登录</a>
    </div>

    <ul class="my-detail-button">
      <li><button class="button button-light" ng-click="showFootprint()">
        足迹
      </button></li>
      <li><button class="button button-light" ng-click="showWish()">
        心愿单
      </button></li>
      <li><button class="button button-light" ng-click="showCollection()">
        收藏
      </button></li>
      <li><button class="button button-light" ng-click="showSharePanel()">
        分享
      </button></li><li><button class="button button-light" ng-click="showAbout()">
      关于我们
    </button></li>

    </ul>

  </ion-content>
</ion-view>
