<ion-view hide-nav-bar="true" >

  <ion-header-bar>
    <button class="button button-icon icon ion-arrow-return-left " ng-click="back()"></button>
    <button class="button button-icon icon ion-navicon " ng-click="showMenuItemList()"></button>
    <div class="h1 title">{{sceneName}}</div>
  </ion-header-bar>


  <ion-content overflow-scroll="true" style="overflow: hidden" >
    <div id="main-screen" style="overflow: visible;height: 70%;width: 100%" >
      <!--img src="img/fakemap.png" width="100%" height="500dp"-->
      <div id="detailmap" style="overflow: visible;height:500px;width:100%"></div>
    </div>
    <div class="contract-{{contract}}">
      <div style="background-color:cornflowerblue;height: 20px" ng-click ="contractInfo()"></div>

      <ion-scroll  direction="y" locking="true" style="width:100%; height: 100%;" >

        <div class="row">
          <div class="col col-60">
            <span>满意度评分</span><br>
            <div >
              <span ng-repeat="i in starArray track by $index" class="ion-star"></span>
              <span ng-repeat="i in starOutlineArray track by $index" class="ion-ios-star-outline"></span>
              <span>{{score}}</span>
            </div>
            <span>({{amountPeopleScore}}人评价)</span>
            <div class="row">
              <div class="col">
                <div style=" height: 10pt;width: 120pt">
                  <span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span></span>
                  <!--<span class="col"  style="background-color: #0074D9; height:10pt; width:20pt"></span><br>-->
                  <span  style="overflow: visible;display: inline; height:10pt; width:50pt">{{scoreRange[0]}}</span>
                </div>
                <div style=" height: 10pt;width: 120pt">
                  <span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span class="ion-ios-star-outline"></span>
                  <span  style="overflow: visible;display: inline; height:10pt; width:50pt">{{scoreRange[1]}}</span>
                </div>
                <div style=" height: 10pt;width: 120pt">
                  <span class="ion-star"></span><span class="ion-star"></span><span class="ion-star"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span>
                  <span  style="overflow: visible;display: inline; height:10pt; width:50pt">{{scoreRange[2]}}</span>
                </div>
                <div style=" height: 10pt;width: 120pt">
                  <span class="ion-star"></span><span class="ion-star"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span>
                  <span  style="overflow: visible;display: inline; height:10pt; width:50pt">{{scoreRange[3]}}</span>
                </div>
                <div style=" height: 10pt;width: 120pt">
                  <span class="ion-star"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span><span class="ion-ios-star-outline"></span>
                  <span  style="overflow: visible;display: inline; height:10pt; width:50pt">{{scoreRange[4]}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-40">
            <button  class="button button-small button-light icon {{starState}} " ng-click="addIntoStar()" > 收藏</button>
            <button class="button button-small button-light icon {{wishState}}" ng-click="addIntoWish()"> 加入心愿单</button>
            <button class="button button-small button-light icon {{comeState}}" ng-click="addIntoCome()"> 加入足迹</button>
            <button class="button button-small button-light icon ion-share" ng-click="showSharePanel()"> 分享</button>
          </div>

        </div>
        <div style="margin: 20px">
          <h5>基本信息</h5>
          <div height="30px">
            <p>{{sceneIntro}}</p>
          </div>
          <h5>评价</h5>
          <p ng-repeat="i in sceneComment" class="ion-ios-person">  {{i.commentContent}}</p>
        </div>
      </ion-scroll>

    </div>





  </ion-content>
  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-header-bar>
        <h1 class="title">评价</h1>

      </ion-header-bar>
      <ion-content overflow-scroll="true" style="overflow: hidden; margin:20px" >

        <rating ng-model="rating.rate" max="rating.max" style="display: inline"></rating>
        <input type="text"  ng-model="commentInput" placeholder="请输入您的评价">

        <!--<button class="icon ion-ios-plus-outline">添加图片</button>-->

        <!--<div ng-controller="MyCtrl">-->
        <!--<div>-->
          <!--&lt;!&ndash;<input type="file" ng-file-select="onFileSelect($files)">&ndash;&gt;-->
          <!--<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">-->
          <!--<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>-->
          <!--<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"-->
               <!--ng-show="dropSupported">drop files here</div>-->
          <!--<div ng-file-drop-available="dropSupported=true"-->
               <!--ng-show="!dropSupported">HTML5 Drop File is not supported!</div>-->
          <!--<button ng-click="upload.abort()">Cancel Upload</button>-->

        <!--</div>-->

        <button class="button-light" ng-click="submitScore(commentInput)">提交</button>
      </ion-content>
    </ion-popover-view>
  </script>



  <ion-footer-bar>




    <div class="button-bar">
      <button class="button button-light" ng-click="showDetailProfile()">详细资料</button>
      <button class="button button-light" ng-click="evaluation()" >评价</button>

      <button class="button button-light" ng-click="goScene()">到这去</button>
      <button ng-click="openPopover($event)" class="button icon ion-android-add-circle"></button>
    </div>








  </ion-footer-bar>



</ion-view>

