.my-detail-wrapper {
  margin: 0;
  padding: 50px;
}
.my-head {

}
.my-head img {
  width: 100px;
  height: 100px;
}
.my-detail-button-bar {
  width: 50%;
}
.my-detail-button .button {
  border-color: #ddd;
}

.nearby-result-card {
  display: none;
  position: absolute;
  bottom: 240px;
  right: 0;
}
.nearby-foot-menu {
  margin-top: 20px;
}

.planning-result-card {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.route-planning-input input {
  width: 100px;
}

.itemCss {
  background-color: #f2f2f2;
}


